.nav-tabs
{
  border-bottom: none !important;
}

.privateMessageTemplate
{
  display: none;
}

.form-group
{
  width:100%;
}

.form-control
{
  width: 100% !important;
}

.btn-send
{
  margin-top: 10px;
  width: 100%;
}

.outputDiv
{
	max-height: 300px;
	min-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.users0
{
	color: #FF0000;
}

.users1
{
	color: #00FF00;
}

.users2
{
	color: #0000FF;
}

.users3
{
	color: #8A04FB;
}

.users4
{
	color: #FF00FF;
}

.users5
{
	color: #00BBBB;
}

.users6
{
	color: #AA0000;
}

.users7
{
	color: #00AA00;
}

.users8
{
	color: #0000AA;
}

.users9
{
	color: #AAAA00;
}

.users10
{
	color: #AA00AA;
}

.users11
{
	color: #F281FF;
}

.users12
{
	color: #770000;
}

.users13
{
	color: #626262;
}

.users14
{
	color: #F98400;
}

.users15
{
	color: #007777;
}