.nav-tabs
{
  border-bottom: none !important;
}

.privateMessageTemplate
{
  display: none;
}

.users0
{
	color: #FF0000;
}

.users1
{
	color: #00FF00;
}

.users2
{
	color: #0000FF;
}

.users3
{
	color: #FFFF00;
}

.users4
{
	color: #FF00FF;
}

.users5
{
	color: #00FFFF;
}

.users6
{
	color: #AA0000;
}

.users7
{
	color: #00AA00;
}

.users8
{
	color: #0000AA;
}

.users9
{
	color: #AAAA00;
}

.users10
{
	color: #AA00AA;
}

.users11
{
	color: #00AAAA;
}

.users12
{
	color: #770000;
}

.users13
{
	color: #007700;
}

.users14
{
	color: #777700;
}

.users15
{
	color: #007777;
}